<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Accueil{% endblock %} | site e-commerce</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# ***** Feuilles de style ***** #}
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">

    {# Fichiers JS #}
    <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
    {% block javascripts %}{% endblock %}
</head>
<body>
{{ include('_partials/_nav.html.twig') }}

{# {% block titreH1 %}<h1 class="container h3 my-3 font-weight-normal text-center">Welcome</h1>{% endblock %} #}

{% block body %}{% endblock %}

{{ include('_partials/_footer.html.twig') }}
</body>
</html>
